<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.full_name %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-primary"  %> |
<%= link_to 'Back', books_path , class:"btn btn-primary" %>
